@model LearnEpiserver.Models.Blocks.CarouselItemBlock

<div class="carousel-item">
    <img class="d-block w-100" src="@Model.Image" alt="...">

    <div class="carousel-caption d-none d-md-block">
        <h3>@Model.Title</h3>
        <p>@Model.Description</p>
    </div>
</div>